In [10]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
import mysql.connector
from bs4 import BeautifulSoup

## Web Scraping culture data

In [ ]:
# Scrping data from hofstedes website
def web_scraper(url):
    '''
    This function takes in a url and scrapes the data from the website
    and returns a dataframe with the country name as the index and the
    scores for each category as the columns.

    Parameters
    ----------
    url : string
        url of the website to scrape

    Returns
    -------
    culture_df : dataframe
        dataframe with country name as the index and the scores for each
        category as the columns.
    '''
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    # find the class: "l-comparison__content__item-multiple__top"
    table = soup.find('div', attrs={'class': 'l-comparison__content__item-multiple__top'})
    # loop through all classes c-overview fadeInUp
    culture_dict = {}
    for row in table.findAll('div', attrs={'class': 'c-overview fadeInUp'}):
        # save country name as key and score as value
        country_scores = []
        # save country name within data-country in dictionary as key
        country = row['data-country']
        # power-distance score in span class
        power_distance = row.find('span', attrs={'class': 'power-distance fadeIn active'}).text
        individualism = row.find('span', attrs={'class': 'individualism fadeIn'}).text
        motivation = row.find('span', attrs={'class': 'motivation fadeIn'}).text
        uncertainty_avoidance = row.find('span', attrs={'class': 'uncertainty-avoidance fadeIn'}).text
        long_term_orientation = row.find('span', attrs={'class': 'long-term-orientation fadeIn'}).text
        indulgence = row.find('span', attrs={'class': 'indulgence fadeIn'}).text

        # save country name as key and score as value
        country_scores.append(power_distance)
        country_scores.append(individualism)
        country_scores.append(motivation)
        country_scores.append(uncertainty_avoidance)
        country_scores.append(long_term_orientation)
        country_scores.append(indulgence)
        if country not in culture_dict:
            culture_dict[country] = country_scores
    
    # create dataframe from dictionary
    culture_df = pd.DataFrame.from_dict(culture_dict, orient='index', columns=['power_distance', 'individualism', 'motivation', 'uncertainty_avoidance', 'long_term_orientation', 'indulgence'])
    return culture_df

url = 'https://www.hofstede-insights.com/country-comparison-tool'
culture_df = web_scraper(url)

# save dataframe to csv in the data cleaned folder
culture_df.to_csv('../data/cleaned/culture_df.csv')

## Merging all data sources

In [ ]:
def load_and_clean_kaggle_data(kaggle_path):
    """
    Loads and cleans the Kaggle dataset.

    This function reads the Kaggle dataset, drops rows with NaN values in the 'Life expectancy' column, 
    and fills NaNs in other numeric columns with their mean values. It also standardizes country names 
    to uppercase and calculates the average values for each country.

    Args:
        kaggle_path (str): Path to the Kaggle dataset file.

    Returns:
        DataFrame: Cleaned Kaggle dataset with average values grouped by country.
    """
    kaggle = pd.read_csv(kaggle_path)
    kaggle_dropped = kaggle.dropna(subset=['Life expectancy '])  # Drop rows where 'Life expectancy' is NaN
    numeric_columns = kaggle_dropped.select_dtypes(include=['number']).columns

    # Fill NaN values in numeric columns with their mean values
    for var in numeric_columns:
        kaggle_dropped[var].fillna(kaggle_dropped[var].mean(), inplace=True)

    # Drop unnecessary columns and group by country
    kaggle_dropped_num = kaggle_dropped.drop(columns=['Year', 'Status'])
    kaggle_average = kaggle_dropped_num.groupby('Country').mean().reset_index()
    kaggle_average = kaggle_average.rename(columns={'Country': 'Country Name'})
    kaggle_average['Country Name'] = kaggle_average['Country Name'].str.upper()  # Standardize country names
    return kaggle_average


def process_510_data(data510_path):
    """
    Processes the '510data' dataset.

    This function reads the '510data' dataset, renames columns for clarity, and converts year columns to numeric.
    It handles NaN values by replacing them with mean values and calculates the mean across all years for each row.
    The data is then restructured to have countries as rows and series names as columns.

    Args:
        data510_path (str): Path to the '510data' dataset file.

    Returns:
        DataFrame: Processed '510data' dataset, pivoted with countries and series names.
    """
    df = pd.read_csv(data510_path)
    # Rename columns and drop unnecessary ones
    df.columns = [col.split('[')[0].strip() for col in df.columns]
    df = df.drop(columns=['Series Code', 'Country Code'])

    years_columns = [str(year) for year in range(2000, 2016)]
    df[years_columns] = df[years_columns].apply(pd.to_numeric, errors='coerce')

    # Fill NaN values in year columns with mean values
    for col in years_columns:
        df[col] = df.apply(
            lambda row: row[col] if not pd.isna(row[col]) else (
                row[years_columns].mean() if not row[years_columns].isna().all() else df[col].mean()),
            axis=1
        )

    # Calculate the mean value across all years for each row
    df['Mean'] = df[years_columns].apply(lambda row: row.mean() if not row.isna().all() else pd.NA, axis=1)
    new_df = df[['Series Name', 'Country Name', 'Mean']]
    agg_df = new_df.groupby(['Country Name', 'Series Name']).mean().reset_index()
    # Pivot the DataFrame for better analysis and merging
    pivoted_df = agg_df.pivot(index='Country Name', columns='Series Name', values='Mean')
    pivoted_df.columns.name = None
    return pivoted_df.reset_index()


def merge_data(kaggle_average, data510_processed, culture_path):
    """
    Merges the processed Kaggle dataset, '510data' dataset, and culture dataset into a single DataFrame.

    This function merges the processed datasets from Kaggle and '510data' with an additional culture dataset.
    It handles NaN values in numerical columns by replacing them with mean values of those columns.

    Args:
        kaggle_average (DataFrame): Processed Kaggle dataset with average values.
        data510_processed (DataFrame): Processed '510data' dataset.
        culture_path (str): Path to the culture dataset file.

    Returns:
        DataFrame: Final merged DataFrame with NaN values filled.
    """
    culture = pd.read_csv(culture_path)
    # Prepare culture dataset by adjusting column names
    culture.columns.values[0] = 'Country Name'
    culture['Country Name'] = culture['Country Name'].str.upper()

    # Standardize country names and merge datasets
    data510_processed['Country Name'] = data510_processed['Country Name'].str.upper()
    result = data510_processed.merge(culture, how='left', on='Country Name')
    final = result.merge(kaggle_average, how='left', on='Country Name')

    # Fill NaN values in numeric columns with mean values
    numerical_final = final.select_dtypes(include=['number'])
    mean_values = numerical_final.mean()
    final_clean = final.fillna(mean_values)
    return final_clean


# Example usage
kaggle_path = 'Life Expectancy Data.csv'
data510_path = '510data.csv'
culture_path = 'culture_df.csv'

kaggle_average = load_and_clean_kaggle_data(kaggle_path)
data510_processed = process_510_data(data510_path)
final_clean = merge_data(kaggle_average, data510_processed, culture_path)

final_clean.to_csv('longevity.csv', index=False)

# save dataframe to csv in the data cleaned folder
#final_clean.to_csv('../data/cleaned/longevity.csv')

## Feature Selection and Engineering

In [6]:
# Load the data
file_path = '../data/Cleaned/longevity.csv'
data = pd.read_csv(file_path)

# Convert all values in the Country Name column to lowercase with the first letter of each word in the country name capitalized
data['Country Name'] = data['Country Name'].str.title()

'''
Narrow dataframe to the following columns: 
'''
# narrow dataframe to features of interest
selected_columns = [
    'Country Name',
    'Age at first marriage, female',
    'Age at first marriage, male', 'Capital health expenditure (% of GDP)', 'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)', "Cause of death, by injury (% of total)", 'Cause of death, by non-communicable diseases (% of total)', 'Community health workers (per 1,000 people)', 'Condom use, population ages 15-24, male (% of males ages 15-24)', 'Consumption of iodized salt (% of households)', 'Current health expenditure (% of GDP)', 'Births attended by skilled health staff (% of total)', 'Contraceptive prevalence, any method (% of all women ages 15-49)', 'Current health expenditure per capita (current US$)', 'Demand for family planning satisfied by any methods (% of married women with demand for family planning)', 'Diabetes prevalence (% of population ages 20 to 79)', 'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)', 'Exclusive breastfeeding (% of children under 6 months)', 'Female headed households (% of households with a female head)', 'Hospital beds (per 1,000 people)', 'Immunization, BCG (% of one-year-old children)', 'Immunization, DPT (% of children ages 12-23 months)', 'Immunization, HepB3 (% of one-year-old children)', 'Immunization, Hib3 (% of children ages 12-23 months)', 'Immunization, Pol3 (% of one-year-old children)', 'Immunization, measles (% of children ages 12-23 months)', 'Immunization, measles second dose (% of children by the nationally recommended age)', 'Domestic private health expenditure per capita (current US$)', 'Domestic general government health expenditure per capita (current US$)', 'Incidence of tuberculosis (per 100,000 people)', 'Literacy rate, adult total (% of people ages 15 and above)', 'Literacy rate, youth total (% of people ages 15-24)', 'Malaria cases reported', 'Mortality caused by road traffic injury (per 100,000 people)', 'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)', 'Mortality rate attributed to household and ambient air pollution (per 100,000 population)', 'Mortality rate attributed to unintentional poisoning (per 100,000 population)', 'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)', 
    'Newborns protected against tetanus (%)', 'Number of people who are undernourished', 'Nurses and midwives (per 1,000 people)', 'People practicing open defecation (% of population)', 'People using at least basic drinking water services (% of population)', 'People using at least basic sanitation services (% of population)', 'People using safely managed drinking water services (% of population)', 'People using safely managed sanitation services (% of population)', 'People with basic handwashing facilities including soap and water (% of population)', 'Physicians (per 1,000 people)', 'Poverty headcount ratio at national poverty line (% of population)', 'Prevalence of HIV, total (% of population ages 15-49)', 'Prevalence of current tobacco use (% of adults)', 'Prevalence of hypertension (% of adults ages 30-79)', 'Prevalence of overweight (% of adults)', 'Public spending on education, total (% of GDP)', 'Prevalence of underweight, weight for age (% of children under 5)', 'Prevalence of anemia among women of reproductive age (% of women ages 15-49)', 'Risk of impoverishing expenditure for surgical care (% of people at risk)', 
    'School enrollment, primary (% gross)', 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)', 'Specialist surgical workforce (per 100,000 population)', 'Suicide mortality rate (per 100,000 population)', 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)', 'Unemployment, total (% of total labor force)', 'Unmet need for contraception (% of married women ages 15-49)', 'Urban poverty headcount ratio at national poverty lines (% of urban population)', 'Rural poverty headcount ratio at national poverty lines (% of rural population)', 'Vitamin A supplementation coverage rate (% of children ages 6-59 months)', 'power_distance', 'individualism', 'motivation', 'uncertainty_avoidance', 'long_term_orientation', 'indulgence', 'Hepatitis B', 'Measles ', ' BMI ', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Polio', 'Schooling', 'Alcohol', 'Life expectancy at birth, total (years)'
]

data = data[selected_columns]

# Strip all whitespaces from column names
data.columns = data.columns.str.strip()

# Renaming columns with length exceeding mysql limit

data.rename(columns={'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)': 'Death due to communicable disease and nutrition conditions'}, inplace =True)

data.rename(columns={'Cause of death, by injury (% of total)': 'Death due to injury'}, inplace =True)

data.rename(columns={'Demand for family planning satisfied by any methods (% of married women with demand for family planning)': 'Demand for family planning'}, inplace =True)

data.rename(columns={'Diabetes prevalence (% of population ages 20 to 79)': 'Diabetes prevalence'}, inplace =True)

data.rename(columns={'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)': 'Diarrhea treatment'}, inplace =True)

data.rename(columns={'Exclusive breastfeeding (% of children under 6 months)': 'Exclusive breastfeeding'}, inplace =True)

data.rename(columns={'Hospital beds (per 1,000 people)': 'Hospital beds'}, inplace =True)

data.rename(columns={'Immunization, BCG (% of one-year-old children)': 'Immunization, BCG'}, inplace =True)

data.rename(columns={'Immunization, DPT (% of children ages 12-23 months)': 'Immunization, DPT'}, inplace =True)

data.rename(columns={'Immunization, HepB3 (% of one-year-old children)': 'Immunization, HepB3'}, inplace =True)

data.rename(columns={'Immunization, Hib3 (% of children ages 12-23 months)': 'Immunization, Hib3'}, inplace =True)

data.rename(columns={'Immunization, Pol3 (% of one-year-old children)': 'Immunization, Pol3'}, inplace =True)

data.rename(columns={'Immunization, measles (% of children ages 12-23 months)': 'Immunization, measles'}, inplace =True)

data.rename(columns={'Immunization, measles second dose (% of children by the nationally recommended age)': 'Immunization, measles second dose'}, inplace =True)

data.rename(columns={'Domestic private health expenditure per capita (current US$)': 'Domestic private health expenditure'}, inplace =True)

data.rename(columns={'Domestic general government health expenditure per capita (current US$)': 'Domestic general government health expenditure'}, inplace =True)

data.rename(columns={'Incidence of tuberculosis (per 100,000 people)': 'Incidence of tuberculosis'}, inplace =True)

data.rename(columns={'Literacy rate, adult total (% of people ages 15 and above)': 'Literacy rate, adult total'}, inplace =True)

data.rename(columns={'Literacy rate, youth total (% of people ages 15-24)': 'Literacy rate, youth total'}, inplace =True)

data.rename(columns={'Malaria cases reported': 'Malaria cases'}, inplace =True)

data.rename(columns={'Mortality caused by road traffic injury (per 100,000 people)': 'Mortality caused by road traffic injury'}, inplace =True)

data.rename(columns={'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)': 'Mortality from CVD, cancer, diabetes or CRD'}, inplace =True)

data.rename(columns={'Mortality rate attributed to household and ambient air pollution (per 100,000 population)': 'Mortality rate attributed air pollution'}, inplace =True)

data.rename(columns={'Mortality rate attributed to unintentional poisoning (per 100,000 population)': 'Mortality rate attributed to unintentional poisoning'}, inplace =True)

data.rename(columns={'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)': 'Mortality rate attributed to unsafe water'}, inplace =True)

data.rename(columns={'Newborns protected against tetanus (%)': 'Newborns protected against tetanus'}, inplace =True)

data.rename(columns={'Number of people who are undernourished': 'Number of undernourished people'}, inplace =True)

data.rename(columns={'Nurses and midwives (per 1,000 people)': 'Nurses and midwives'}, inplace =True)

data.rename(columns={'People practicing open defecation (% of population)': 'People practicing open defecation'}, inplace =True)

data.rename(columns={'People using at least basic drinking water services (% of population)': 'People using at least basic drinking water services'}, inplace =True)

data.rename(columns={'People using at least basic sanitation services (% of population)': 'People using at least basic sanitation services'}, inplace =True)

data.rename(columns={'People using safely managed drinking water services (% of population)': 'People using safely managed drinking water services'}, inplace =True)

data.rename(columns={'People using safely managed sanitation services (% of population)': 'People using safely managed sanitation services'}, inplace =True)

data.rename(columns={'People with basic handwashing facilities including soap and water (% of population)': 'People with basic handwashing facilities'}, inplace =True)

data.rename(columns={'Physicians (per 1,000 people)': 'Physicians'}, inplace =True)

data.rename(columns={'Poverty headcount ratio at national poverty line (% of population)': 'Poverty headcount ratio'}, inplace =True)

data.rename(columns={'Prevalence of HIV, total (% of population ages 15-49)': 'Prevalence of HIV'}, inplace =True)

data.rename(columns={'Prevalence of current tobacco use (% of adults)': 'Prevalence of current tobacco use'}, inplace =True)

data.rename(columns={'Prevalence of hypertension (% of adults ages 30-79)': 'Prevalence of hypertension'}, inplace =True)

data.rename(columns={'Prevalence of overweight (% of adults)': 'Prevalence of overweight'}, inplace =True)

data.rename(columns={'Public spending on education, total (% of GDP)': 'Public spending on education'}, inplace =True)

data.rename(columns={'Prevalence of underweight, weight for age (% of children under 5)': 'Prevalence of underweight children'}, inplace =True)

data.rename(columns={'Prevalence of anemia among women of reproductive age (% of women ages 15-49)': 'Prevalence of anemic women'}, inplace =True)

data.rename(columns={'Risk of impoverishing expenditure for surgical care (% of people at risk)': 'Risk of impoverishing expenditure for surgical care'}, inplace =True)

data.rename(columns={'School enrollment, primary (% gross)': 'School enrollment'}, inplace =True)

data.rename(columns={'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)': 'Total alcohol consumption'}, inplace =True)

data.rename(columns={'Specialist surgical workforce (per 100,000 population)': 'Specialist surgical workforce'}, inplace =True)

data.rename(columns={'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)': 'Teenage mothers'}, inplace =True)

data.rename(columns={'Unemployment, total (% of total labor force)': 'Unemployment'}, inplace =True)

data.rename(columns={'Unmet need for contraception (% of married women ages 15-49)': 'Unmet contraception need for women'}, inplace =True)

data.rename(columns={'Urban poverty headcount ratio at national poverty lines (% of urban population)': 'Urban poverty headcount ratio'}, inplace =True)

data.rename(columns={'Rural poverty headcount ratio at national poverty lines (% of rural population)': 'Rural poverty headcount ratio'}, inplace =True)

data.rename(columns={'Vitamin A supplementation coverage rate (% of children ages 6-59 months)': 'Vitamin A supplementation coverage rate'}, inplace =True)

data.rename(columns={'power_distance': 'Power distribution in society'}, inplace =True)

data.rename(columns={'individualism': 'Individualism'}, inplace =True)

data.rename(columns={'motivation': 'Motivation'}, inplace =True)

data.rename(columns={'uncertainty_avoidance': 'Social uncertainty'}, inplace =True)

data.rename(columns={'long_term_orientation': 'Lack of culture and tradition'}, inplace =True)

data.rename(columns={'indulgence': 'Positivity'}, inplace =True)



# Display the modified DataFrame's first few rows to confirm the changes
data.head()

# save the cleaned dataframe to a csv file
data.to_csv('../Data/Cleaned/longevity_reduced.csv', index=False)

,Country Name,"Age at first marriage, female","Age at first marriage, male",Capital health expenditure (% of GDP),Death due to communicable disease and nutrition conditions,Death due to injury,"Cause of death, by non-communicable diseases (% of total)","Community health workers (per 1,000 people)","Condom use, population ages 15-24, male (% of males ages 15-24)",Consumption of iodized salt (% of households),...,Hepatitis B,Measles,BMI,Diphtheria,HIV/AIDS,GDP,Polio,Schooling,Alcohol,"Life expectancy at birth, total (years)"
0,Afghanistan,2.140000e+01,2.470000e+01,2.441649e-01,49.118515,11.865492,39.015993,5.053479e+06,5.053479e+06,46.566667,...,64.562500,2362.250000,15.518750,52.312500,0.10000,340.015425,48.375000,8.212500,0.014375,59.439000
1,Africa Eastern And Southern,5.053479e+06,5.053479e+06,5.053479e+06,59.703069,9.171409,31.125521,5.053479e+06,3.460712e+01,62.264491,...,80.862429,2331.640525,38.325809,82.193116,1.67715,7550.512712,82.196424,12.040561,4.604644,56.532946
2,Africa Western And Central,5.053479e+06,5.053479e+06,5.053479e+06,66.095155,7.494896,26.409949,1.440893e-01,3.839535e+01,78.086400,...,80.862429,2331.640525,38.325809,82.193116,1.67715,7550.512712,82.196424,12.040561,4.604644,53.366361
3,Albania,2.406667e+01,2.814000e+01,1.452148e-01,4.774622,6.005545,89.219834,5.053479e+06,4.980000e+01,88.833333,...,98.000000,53.375000,49.068750,98.062500,0.10000,2119.726679,98.125000,12.137500,4.848750,77.196062
4,Algeria,2.912500e+01,3.292500e+01,1.103354e-02,16.714915,9.922490,73.362596,5.053479e+06,5.053479e+06,74.900000,...,78.740211,1943.875000,48.743750,91.875000,0.10000,2847.853392,91.750000,12.712500,0.669678,72.913625

## Save final dataframe to MySQL

In [12]:
# Save the cleaned dataframe to a mysql database

# create sqlalchemy engine
engine = create_engine('mysql+pymysql://root:root@localhost/longevity')


# save the dataframe to the mysql database
data.to_sql('LONGEVITY_NEW', con=engine, if_exists='replace', index=False)

# read the data from the mysql database
data = pd.read_sql('SELECT * FROM LONGEVITY_NEW', engine)